img{
    max-width: 100%;
    display: block;
    height:auto;
    padding-bottom: 5px;
}

/*header*/
.header{
    font-family: "area-normal", sans-serif;
    font-weight: 100;
    font-style: normal;
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 20px;
    align-items: center;
    border-bottom: 1px solid#000;
    position: sticky;
    top: 0;
    background-color: #ffffff;
    margin-bottom: 10px;
    height: 50px;
}

.header a{
    text-decoration: none;
    color: currentColor;
    font-size: 14px;
    text-align: center;
    padding-left: 12px;
    padding-right: 12px;
    transition: 0.5s;
}
.header a:hover{
    transform: scale(1.5);
}

/*logo-accueil*/.header h1{
    font-family: "area-normal", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    margin: 0;
}

/*6 vacances*/h1.violet{
    color: #cfa6d0;
    font-family: "area-normal", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin: 0;
}
/*minifermiers*/h1.marron{
    color: #958176;
    font-family: "area-normal", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin: 0;
}
/*glyphs*/h1.gris{
    color: #706a6a;
    font-family: "area-normal", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin: 0;
}
/*insecte precieux*/h1.bleu{
    color: #3039b7;
    font-family: "area-normal", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin: 0;
}
/*riso*/h1.rouge{
    color: #e23a3a;
    font-family: "area-normal", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin: 0;
}
/*acte colloque*/h1.vert{
    color: #17e146;
    font-family: "area-normal", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin: 0;
}
/*larmes taureau*/h1.jaune{
    color: #ebfc52;
    font-family: "area-normal", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin: 0;
}
/*new paris*/h1.rose{
    color: #e71dcc;
    font-family: "area-normal", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    margin: 0;
}

/*projets accueil*/
.projects{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    row-gap: 9px;
    justify-content: center;
}
.projects:hover{
    cursor:url(home_page/curseur.png), pointer;
}
.projects a{
    text-decoration: none;
    color: currentColor;
    text-align: center;
    font-family: "area-normal", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 14px;
}
.projects a:hover{
    cursor:url(home_page/curseur.png), pointer;
}
/*pages projets*/
.mep{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}
h2{
    font-family: "area-normal", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin: 0;
    margin-bottom: 10px;
}
h3{
    font-family: "area-normal", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 14px;
    margin: 0;
}

/*footer*/
.footer{
    position: fixed;
    width: 100%;
    height: 30px;
    left: 0;
    bottom: 0;
    font-family: "area-normal", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 14px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    gap: 5px;
    margin-top: 15px;
    text-align: center;
    border-top: 1px solid #000;
    background-color: #ffffff;
}
.footer a{
    text-decoration: none;
    color: currentColor;
    transition: 0.5s;
    padding-top: 3px;
}
.marron:hover{
    color: #958176;
    transform: scale(1.5);
}
.bleu:hover{
    color: #3039b7;
    transform: scale(1.5);
}
.rouge:hover{
    color: #e23a3a;
    transform: scale(1.5);
}
.violet:hover{
    color: #cfa6d0;
    transform: scale(1.5);
}
.gris:hover{
    color: #706a6a;
    transform: scale(1.5);
}
.jaune:hover{
    color: #ebfc52;
    transform: scale(1.5);
}
.vert:hover{
    color: #17e146;
    transform: scale(1.5);
}
.rose:hover{
    color: #e71dcc;
    transform: scale(1.5);
}

/* page contact */
.contact{
    font-family: "area-normal", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align:sub;
    padding-bottom: 27px;
}
.decor{
    text-decoration: none;
    color: currentColor;
    font-family: "doublebass", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 25px;
    transition: 0.5s;
}
.decor:hover{
    cursor:url(home_page/curseur.png), pointer;
}

/* page à propos */
.apropos{
    font-family: "area-normal", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 14px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.titre{
    font-family: "doublebass", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 22px;
    margin: 0;
}